.root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    margin: 0 auto;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.board {
    /*height: 245px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid;
    align-items: center;
    padding: 20px;
}

.cube {
    display: block;
    padding: 20px;
    border: 1px solid;
}
